In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('data.csv')

In [5]:
df

   fname     lname  age  gender  height  weight
0   amin  pourzare   31    male     178      86
1    ali   hassani   24    male     176      79
2  zahra  moghadam   26  female     168      63

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   fname   3 non-null      object
 1   lname   3 non-null      object
 2   age     3 non-null      int64
 3   gender  3 non-null      object
 4   height  3 non-null      int64
 5   weight  3 non-null      int64
dtypes: int64(3), object(3)
memory usage: 272.0+ bytes

In [9]:
df.dtypes

fname     object
lname     object
age        int64
gender    object
height     int64
weight     int64
dtype: object

In [10]:
df.values

array([['amin', 'pourzare', 31, 'male', 178, 86],
       ['ali', 'hassani', 24, 'male', 176, 79],
       ['zahra', 'moghadam', 26, 'female', 168, 63]], dtype=object)

In [11]:
type(df.values)

numpy.ndarray

In [12]:
df.size

18

In [13]:
df.shape

(3, 6)

In [14]:
df.shape[0]

3

In [15]:
df.shape[1]

6

In [16]:
df2 = df.copy()

In [17]:
df2

   fname     lname  age  gender  height  weight
0   amin  pourzare   31    male     178      86
1    ali   hassani   24    male     176      79
2  zahra  moghadam   26  female     168      63

In [18]:
df2.head()

   fname     lname  age  gender  height  weight
0   amin  pourzare   31    male     178      86
1    ali   hassani   24    male     176      79
2  zahra  moghadam   26  female     168      63

In [19]:
df.at[1, 'gender']

'male'

In [20]:
df.max()

fname        zahra
lname     pourzare
age             31
gender        male
height         178
weight          86
dtype: object

In [21]:
df.to_dict()

{'fname': {0: 'amin', 1: 'ali', 2: 'zahra'},
 'lname': {0: 'pourzare', 1: 'hassani', 2: 'moghadam'},
 'age': {0: 31, 1: 24, 2: 26},
 'gender': {0: 'male', 1: 'male', 2: 'female'},
 'height': {0: 178, 1: 176, 2: 168},
 'weight': {0: 86, 1: 79, 2: 63}}

In [25]:
dict_a = df.to_dict()
age_list = []
for i in dict_a['age'].values():
    age_list.append(i)
age_list

[31, 24, 26]

In [27]:
data = df.to_dict()
data

{'fname': {0: 'amin', 1: 'ali', 2: 'zahra'},
 'lname': {0: 'pourzare', 1: 'hassani', 2: 'moghadam'},
 'age': {0: 31, 1: 24, 2: 26},
 'gender': {0: 'male', 1: 'male', 2: 'female'},
 'height': {0: 178, 1: 176, 2: 168},
 'weight': {0: 86, 1: 79, 2: 63}}

In [51]:
list_a = []
for i in data.values():
    list_a.append(i)
print(list_a)
print(len(list_a))

dict_pt = {}
for i in range(len(list_a[1])):
    dict_pt[list_a[1][i]] = None
dict_pt

[{0: 'amin', 1: 'ali', 2: 'zahra'}, {0: 'pourzare', 1: 'hassani', 2: 'moghadam'}, {0: 31, 1: 24, 2: 26}, {0: 'male', 1: 'male', 2: 'female'}, {0: 178, 1: 176, 2: 168}, {0: 86, 1: 79, 2: 63}]
6

{'pourzare': None, 'hassani': None, 'moghadam': None}

In [58]:
list_pt = []
for i in range(len(list_a)):
#     dict_pt[list_a[1][i]]
    list_pt.append(list_a[i][0])
list_pt
len(list_a[1])

3